{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{% static '/assets/sunhill-6hnLhERR.png' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sunhill LMS</title>
    <script
      type="module"
      crossorigin
      src="{% static '/assets/index-DyDkBrlV.js' %}"
    ></script>
    <link
      rel="stylesheet"
      crossorigin
      href="{% static '/assets/index-B549CsAV.css' %}"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
